<app-alert *ngIf="showAlert" [color]="alertColor" >
    {{ alertMsg}}
  </app-alert>
  
  <!--Registration page-->
  <form #resetPasswordForm="ngForm"
    (ngSubmit)="sendEmail()">
    <div class="w-96 bg-white rounded-lg p-6">
      <div class="mb-3">
        <app-input-label labelName="Nouveau mot de passe"></app-input-label>
        <app-inputs-validations type="email" 
         [control]="email" blank="mot de passe"></app-inputs-validations>
      </div>
      <button 
        class="block w-full bg-blue-600 text-white py-1.5 px-3 rounded transition
        hover:bg-blue-700 disabled:opacity-50 disabled:bg-blue-500 " 
        [disabled]="resetPasswordForm.invalid || inSubmission">
        Recevoir un email
      </button>
    </div>
    </form>