<div class="flex flex-wrap gap-2">
    <a routerLink="/categories/ordinateur" 
    class="md:basis-[30%]  basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/ordinateur.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Ordinateurs
        </div>
    </a>
    <a routerLink="/categories/voiture" class="md:basis-[30%]  basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/voiture.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Voitures
        </div>
    </a>
    <a routerLink="/categories/moto" class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/moto.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Motos
        </div>

    </a>
    <a routerLink="/categories/habit"  class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/habit.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Habits
        </div>
    </a>
    <a routerLink="/categories/immoblier"  
        class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/immobilier.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Immobilier
        </div>

    </a>
    <a routerLink="/categories/materiel-et-outil"  
        class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/materiel-et-outil.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Materiel et Outils
        </div>
    </a>
    <a routerLink="/categories/multimedia"  
        class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/multimedia.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Multimedia
        </div>
    </a>

    <a routerLink="/categories/emploi" class="md:basis-[30%] basis-full h-[300px] bg-cover bg-center bg-[url('assets/static-images/categories/emploi.avif')] flex flex-1">
        <div class="m-auto text-4xl text-white rounded-lg p-2 uppercase">
            Emploi
        </div>
    </a>
  </div>