<div class="w-full bg-[#209CEE] h-20 sticky p-2 inline-flex top-0 z-20">
    <div class="p-2 hover:cursor-pointer" (click)="toggleModal()">
      <div class="bg-white w-8 h-1 mb-1"></div>
      <div class="bg-white w-8 h-1 mb-1"></div>
      <div class="bg-white w-8 h-1 mb-1"></div>
    </div>
    <a routerLink="/">
      <span>
        <p class="font-semibold text-3xl text-white">Bamakaffaire.com</p>
        <p class="pl-11 text-sm text-white italic">LES ÉCHANGES RENDUS FACILE</p>
    </span>
    </a>
  </div>